package ${packageName}.mapper;

import org.mapstruct.Mapper;
import ${packageName}.dto.${NAME}CreateDTO;
import ${packageName}.entity.${NAME};
import tr.com.hvl.hmb.kpys.sample.core.CommonMapper;

import static org.mapstruct.factory.Mappers.getMapper;

/**
@autor ${user}.
Created Date: ${dateTime}
*/

@Mapper
public interface ${NAME}CreateMapper extends CommonMapper<${NAME}, ${NAME}CreateDTO> {

    ${NAME}CreateMapper INSTANCE = getMapper(${NAME}CreateMapper.class);

    ${NAME}CreateDTO entityToDto(${NAME} ${loweCaseName});

    ${NAME} dtoToEntity(${NAME}CreateDTO ${loweCaseName}createDTO);

}