package ${packageName};

import lombok.Getter;
import lombok.Setter;
import tr.com.hvl.hmb.kpys.sample.utility.GeneralEnums;

/**
@autor ${user}.
Created Date: ${dateTime}
*/

@Getter
@Setter
public class ReportDTO {

    private GeneralEnums.ReportType reportType;

}
