package ${packageName};

#if($typeImportBigDecimal)
    $typeImportBigDecimal
#end
#if($typeImportDate)
    $typeImportDate
#end
#if($nullableImport)
    $nullableImport
#end
#if($sizeImport)
    $sizeImport
#end

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;
import tr.com.hvl.hmb.kpys.sample.core.dto.HMBAbstractDTO;

/**
@autor ${user}.
Created Date: ${dateTime}
*/

@Getter
@Setter
@ApiModel(value = "", description = "")
public class ${className}UpdateDTO extends HMBAbstractDTO{
#set ($nullable ="")
#set ($length = "")
#foreach( $column in $columnList)
    #**##if($column.nullable)
    #*  *##set ($nullable = "@NotNull(message = """+${column.columnName}+"  bos olamaz"" )" )
    #**##end
    #**##if($column.length)
    #*  *##set ($length = "@Size(max = "+$column.length+")")
    #**##end

    $nullable
    $length
    @ApiModelProperty(value = "$column.columnName", name = "$column.columnName", dataType = "$column.variableType")
    private $column.variableType $column.columnName;

#end
}



